/* .Home{
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
} */

.Home {
  display: flex;
  flex-direction: row;
  column-gap: 165px;
  padding: 1rem;
  justify-content: center;
}

@media screen and (width<=980px) {
  .Home {
    flex-wrap: wrap;
  }
}



/* nav icons styles */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: orange;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin: -4rem 0 0 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip1 {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; 
  background-color: orange;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;
}
